* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background: #bd00ff; */
  background: linear-gradient(
    90deg,
    rgba(189, 0, 255, 1) 0%,
    rgba(189, 0, 255, 1) 0%,
    rgba(0, 163, 255, 1) 100%
  );
  height: 100vh;
  background-attachment: fixed;
}

.container {
  margin: 1em 0.5em;
  height: calc(100% - 2em);
}

nav {
  display: none;
}

section {
  background: #221f26 url(./bg.jpg);
  background-size: cover;
  background-blend-mode: screen;
  background-position: -100px;
  height: 100%;
}
